@model IEnumerable<CustomShirtStore.Models.BirthdayCard>
@{
    ViewData["Title"] = "Danh sách thiệp sinh nhật";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Người nhận</th>
            <th>Người gửi</th>
            <th>Xem chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Recipient</td>
                <td>@item.Sender</td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Xem</a>
                </td>
            </tr>
        }
    </tbody>
</table>
