@{
    ViewData["Title"] = "Home Page";
    var bgUrl = Url.Content("~/images/account-bg.jpg");
}
<div class=" mt-5">
	<div class="row bg-image-first">
		<div class=" left">
			<h2>
				Thiết kế áo theo phong cách của bạn và dành tặng người thương 😘❤️
			</h2>
		</div>
		<div class=" right">
			<p class="text-left">
				Với ứng dụng thiết kế độc đáo, <strong>Sự sáng tạo của bạn là không giới hạn</strong>. Kết hợp với mã QR biến mỗi chiếc áo trở thành quà tặng kĩ thuật số
			</p>
			<div class="col-md-12">
				<a asp-controller="ProductList" asp-action="Product" style="text-decoration:none;">
					<button style="padding:6px 10px;
					background-color: var(--bg-primary);
					color:white;
					border-radius: 20px;
					border: none;
					transform:translateY(0%);
					transition: transform 0.2s ease;
">
						Thiết kế ngay
						&nbsp;
						<i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
					</button>
				</a>
				<a asp-controller="Home" asp-action="CauHoi" style="text-decoration:none;">
					<button style="padding:6px 10px;
					background-color:white;
					color: var(--bg-primary);
					border-radius: 20px;
					border: 2px var(--bg-primary) solid;
					transform:translateY(0%);
					transition: transform 0.2s ease;
">
						Tìm hiểu thêm
					</button>
				</a>
			</div>	
		</div>
	</div>

	<div class="row bg-second">
		<div class="text-center">
			<h2>Với các bước đơn giản</h2>
			<div class="mt-4 mb-2 card-container">
				<div class="card">
					<div class="mb-4">
						<i class="fa-duotone fa-solid fa-palette fa-2xl" style="color: #63E6BE!important;transform:scale(1.5);"></i>
					</div>
					<h5>Thiết kế</h5>
					<strong class="text-center text-black-50">
                        Thêm chữ, hình ảnh, màu áo hoặc đơn giản là nhập tên của bạn và người thương
					</strong>
				</div>
				<div class="card">
					<div class="mb-4">
						<i class="fa-duotone fa-solid fa-envelopes-bulk fa-2xl" style="color: #74C0FC; transform:scale(1.5);"></i>
					</div>
					<h5>Chọn thiệp cho mã QR</h5>
					<strong class="text-center text-black-50">
						Thiết kế thiệp kĩ thuật sỗ để tôi in mã QR lên tag áo của bạn
					</strong>
				</div>
				<div class="card">
					<div class="mb-4">
						<i class="fa-duotone fa-solid fa-truck-fast fa-2xl" style="color: #FFD43B;transform:scale(1.5);"></i>
					</div>
					<h5>Món quà yêu thương</h5>
					<strong class="text-center text-black-50">
						Chúng tôi sẽ in và gửi món quà, sẵn sàng tạo bất ngờ cho crush.
					</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="~/images/account-bg.jpg" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="~/images/account-bg.jpg" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="~/images/account-bg.jpg" alt="Third slide">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
	<div class="row bg-third">
		<div class="text-center">
			<h2>Sẵn sàng tạo ra món quà hoàn hảo nhất</h2>
			<strong class="text-black-50">Thiết kế một chiếc áo sơ mi độc đáo có thể khiến người đặc biệt của bạn mỉm cười.</strong>
			<div class="mt-2 mb-2">
				<a asp-controller="Home" asp-action="Admin">
					<button style="padding:6px 10px;
					background-color: var(--bg-primary);
					color:white;
					border-radius: 40px;
					border: none;
">
						Bắt đầu thiết kế ngay
						&nbsp;
						<i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
					</button>
				</a>
			</div>
			<strong>Và gửi lời chúc sáng tạo nhất đến người bạn yêu thương </strong><a style="color:var(--bg-primary);" href="#">tại đây</a>
			
		</div>
    </div>
	
	
</div>

<style>
	.bg-image-first{
		display: flex;
		background-image: url('@bgUrl');
		background-position:center;
        background-size: cover;
        color: white;
        position: relative;
        margin-top: -10px;
	}
	.bg-image-first::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
			z-index:1;
        }

		.bg-image-first>* {
			position: relative;
			z-index:2;
		}

		.bg-image-first .left, .bg-image-first .right{
		flex:1;
		height: 600px;
		width:400px;
		padding:80px;
        display: flex;
        justify-content: center;
		align-items:center;
	}
	.bg-image-first .right{
        flex-direction: column;
	}

	.bg-second {
		height: 400px;
		width: 100vw;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

		.bg-second > div {
			line-height: 2;
		}
	.bg-third{
		height:400px;
        background-color: var(--bg-secondary);
		display:flex;
		flex-direction: column;
        justify-content: center;
        align-items: center;
	}

	.bg-third > div{
            line-height: 3;
	}

	.card-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card-container .card {
		width: 400px;
		min-height: 200px;
		margin: 10px;
		background-color: white;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #dee2e6;
		box-shadow: 0;
		padding:24px;
	}
	.card-container .card:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
	
</style>