@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Áo thun customer1</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Áo thun customer</h1>
    <p>Test thử xem nào.</p>
</div>
